<h2>Press these buttons to seed your roles and users!</h2>

<a asp-action="SeedRoles" asp-controller="Seed" class="btn btn-primary">Seed Roles</a>
<a asp-action="SeedCustomers" asp-controller="Seed" class="btn btn-info">Seed Customers</a>
<a asp-action="SeedEmployees" asp-controller="Seed" class="btn btn-info">Seed Employees</a>
<a asp-action="SeedManagers" asp-controller="Seed" class="btn btn-info">Seed Managers</a>
<a asp-action="SeedGenres" asp-controller="Seed" class="btn btn-info">Seed Genre</a>
<a asp-action="SeedMovies" asp-controller="Seed" class="btn btn-info">Seed Movies</a>
<a asp-action="SeedPrices" asp-controller="Seed" class="btn btn-info">Seed Prices</a>
<a asp-action="SeedSchedules" asp-controller="Seed" class="btn btn-info">Seed Schedule</a>

<a asp-action="SeedReviews" asp-controller="Seed" class="btn btn-info">Seed Reviews</a>
<a asp-action="SeedTransactions" asp-controller="Seed" class="btn btn-info">Seed Transactions</a>
<a asp-action="SeedTransactionDetails" asp-controller="Seed" class="btn btn-info">Seed Transaction Details</a>
